
alias k="kubectl"

alias redisup="redis-server /usr/local/etc/redis.conf"
alias wpscan="ruby ~/sites/wpscan/wpscan.rb"

# DNS Helpers
alias dns:cache:clear="sudo killall -HUP mDNSResponder"

# Docker short commands
alias dc="docker-compose"
alias dcb="docker-compose up -d --force-recreate --build"
dce(){ docker exec -it "$1" /bin/bash; } 

# Shorter Git commands for common actions
alias g="git"
alias ga="git add --all ."
alias gs="git status"
alias gc="git commit"
alias gcm="git commit -m"
alias gpd="git pull"
alias gpu="git push"
alias gr="git reset HEAD"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gmb="git branch -r | xargs -L1 git --no-pager show -s --oneline --author=\"$(git config user.name)\""
alias fixCodesign="cd ~/Library/Developer/Xcode/DerivedData && xattr -rc ."
alias god="echo \"can't help you here, but I can pull\" && git pull"
alias gsu="git submodule update --recursive --remote"

# SSH 
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy"
alias sshconfig="vim ~/.ssh/config"

alias sites="cd ~/Sites"
alias scrape="wget -rkpN -e robots=off --adjust-extension"
