[user]
	name = Jake Chamberlain
	email = jake@jchamb.com

; Custom
[alias]
	incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
    outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto


; diff and merge
[diff]
    tool = kaleidoscope
    guitool = kaleidoscope

[difftool]
    prompt = false

[merge]
    tool = kaleidoscope

[mergetool]
    keepBackup = false
    prompt = false

[difftool "kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true

; Git config and alias parts taken from:
;	https://github.com/ryanduff/dotfiles/blob/master/gitconfig